{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">Tech Posts</h1>
    
    <ul>
      <li>
        <span class="date">Established 2017</span>
        <a class="title" href="https://blog.ruanbekker.com">blog.ruanbekker.com</a>
      </li>
      <li>
        <span class="date">Established 2017</span>
        <a class="title"href="https://sysadmins.co.za">sysadmins.co.za</a>
      </li>
      <li>
        <span class="date">Established 2018</span>
        <a class="title"href="https://blog.pistack.co.za">blog.pistack.co.za</a>
      </li>
    </ul>
    
    <h1 class="title">{{ .Title }}</h1>

    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
